<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diego.sieteymedio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name=".Pantallainicial"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".juego"
            android:theme="@style/AppThemenoactionbar" />
        <activity
            android:name=".ResumenPartida"
            android:theme="@style/AppThemenoactionbar" />
        <activity
            android:name=".MainActivity"
            android:label="                 MENU PRINCIPAL" />

        <service
            android:name=".AudioService"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Pantalladecarga"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".SolicitarDatos"
            android:label="                 MODO DE JUEGO"/>

        <activity
            android:name=".SolicitarBaraja"
            android:label="                TIPO DE BARAJA" />

        <activity
            android:name=".reglas"
            android:label="               REGLAS DEL JUEGO" />

        <activity
            android:name=".opciones"
            android:label="              AJUSTES DE SONIDO" />

    </application>

</manifest>
